* {
    box-sizing: border-box;
    padding: 0.3%;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 40%;
    font-size: 1.7rem;
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4rem 0;
    margin-top: 2rem;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem 0;
}

.horizontal {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}

.description {
    font-size: 1.5rem;
}

.content {
    width: 16rem; 
    height: 8rem;
    border: 2px solid crimson;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    padding-top: calc(4rem - 10px);
}